@import "../../styles/gerais.css";

.button-container {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.button-container button {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 12px;
  background: #da8e31;
  padding: 12px 80px;
  max-width: 500px;
  transition: all 0.3s ease-in;
}

.button-container button:hover {
  cursor: pointer;
  background: rgb(175, 96, 0);
}

@media screen and (max-width: 768px) {
  .button-container button {
    padding: 15px 40px;
  }
}
