@import "./gerais.css";

.animais-resgatados--background {
  background: #f7f7f7;
}

.title-container {
  max-width: 1440px;
  margin: 0px auto;
  padding: 50px 0;
}

.title-content {
  display: flex;
  justify-content: right;
  max-width: 400px;
  border-bottom: 1px solid #555555;
}

.horses-cards--background {
  background: #f7f7f7;
}
.horses-cards--container {
  background: #f7f7f7;
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.horses-cards {
  width: 1050px;
  display: flex;
  justify-content: space-around;
  transition: transform 0.5s ease;
}

.current-slides--background {
  background: #f7f7f7;
  padding: 50px 0;
}

.current-slides--container {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  padding: 50px 0;
  width: 300px;
}

.current-slides::before {
  content: " ";
  margin: 0 auto;
  display: flex;
  width: 120px;
  height: 8px;
  background: #d9d9d9;
}

.current-slides.active::before {
  background: #707070;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #f7f7f7;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 15px;
  transition: all 0.3s ease;
}

.button:hover {
  background: #d9d9d9;
}

@media screen and (max-width: 768px) {
  .title-container {
    display: none;
  }

  .horses-cards--container {
    width: 100%;
  }

  .horses-cards {
    padding: 20px 0;
    width: 100%;
  }

  .current-slides::before {
    width: 40px;
  }
}
