@import "./gerais.css";

.doacao-background {
  background-color: #ffffff;
}

.doacao-container {
  max-width: 1400px;
  height: 400px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.qr-code {
  margin-right: 20px;
}

.doacao-formas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.doacao-formas--item {
  display: block;
  margin-top: 20px;
}

.doacao-item--title {
  display: flex;
  margin-bottom: 4px;
}

.doacao-formas--item p {
  margin-top: 3px;
  color: #424530;
  font-size: 18px;
}

.doacao-formas--item a {
  color: #424530;
  font-size: 18px;
}

.doacao-item--title img {
  max-width: 20px;
  margin-right: 10px;
}

.doacao-item--title h2 {
  font-size: 20px;
  color: #424530;
}

h1 {
  font-size: 48px;
  color: #424530;
  width: 950px;
  text-align: right;
}

#valor {
  font-size: 16px;
  border: 1px solid black;
  width: 110px;
  border-radius: 4px;
  padding: 5px 10px;
  margin-top: 4px;
}

.mpbutton {
  max-width: 300px;
}

.doar-button {
  margin-left: 10px;
  padding: 6px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
  background: #da8e31;
  color: #ffffff;
  transition: all 0.3s ease-in;
}

.doar-button:hover {
  cursor: pointer;
  background-color: rgb(175, 96, 0);
}

/* Media Query para telas menores */
@media screen and (max-width: 880px) {
  .title-section {
    font-size: 38px;
  }
}

@media screen and (max-width: 768px) {
  .doacao-container {
    height: 700px;
    max-width: 300px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .title-section {
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
  }

  .doacao-formas--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .doacao-item--title {
    display: flex;
    justify-content: center;
  }

  #valor {
    margin: 0 auto;
    width: 200px;
  }

  .doar-button {
    margin: 5px auto;
  }

  .qr-code {
    margin: 0 auto;
  }
}
