@import "./gerais.css";

.doacoes-container {
  padding: 150px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

.doacoes-text--title {
  max-width: 435px;
  margin-top: 10px;
}

.doacoes-text--title h2 {
  color: #304727;
  font-size: 56px;
  margin-bottom: 20px;
}

.doacoes-text--title p {
  color: #555555;
  font-size: 24px;
}

.doacoes-text--content {
  margin: 40px 0;
}

.doacoes-text--content h3 {
  font-size: 24px;
  color: #304727;
  margin-bottom: 2px;
}

.doacoes-img {
  max-width: 100%;
  height: auto;
}

.doacoes-img img {
  width: 100%;
}

/* Media Query para telas menores */
@media screen and (max-width: 768px) {
  .doacoes-container {
    padding: 30px 20px; /* Reduza ainda mais o preenchimento */
    background: #d9d9d9;
  }

  .doacoes-text--title h2 {
    font-size: 28px; /* Reduza mais o tamanho da fonte */
  }

  .doacoes-text--title p {
    font-size: 16px; /* Reduza mais o tamanho da fonte */
  }

  .doacoes-text--content h3 {
    font-size: 18px; /* Reduza mais o tamanho da fonte */
  }

  .doacoes-img {
    display: none;
  }
}
