@import "./gerais.css";

.duvidas-background {
  background: #e9f0e6;
}

.duvidas-container {
  margin: 0 auto;
  padding: 100px 0;
  max-width: 1400px;
}

.section-title {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

.duvidas-container h2 {
  font-size: 56px;
  background: linear-gradient(to bottom, #507741, #25371e);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
}
