* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title_header a h2 {
  text-decoration: none;
  color: #424530;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  text-align: center;
  padding: 3rem;
}

.section_text {
  margin: 0em;
  padding: 5em;
  text-align: center;
  background-color: #fff;
  border-radius: 30px;
}

.section_text_title {
  font-family: "Roboto", sans-serif;
  font-size: 2.375rem;
  margin: 10px;
}

a:link {
  text-decoration: none;
  color: #424530;
}

.section_text_paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6em;
  color: #424530;
}

.section_gruposimios_title_simios {
  text-align: center;
  color: #424530;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 10px;
}

.section_gruposimios {
  font-family: "Roboto", sans-serif;
  margin: 2em;
}

.section_presentation {
  margin-left: 360px;
  font-size: 20px;
}

.slide-container {
  padding: 50px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
  display: flex;
  max-width: 1400px;
  justify-content: space-between;
}

.card {
  border-radius: 25px;
  background-color: #efeae6;
  max-width: 200px;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #424530;
  border-radius: 25px 0px 0px 35px;
}

.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #424530;
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #efeae6;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}

.card-image .card-img {
  height: 98%;
  width: 98%;
  margin-top: -1.5px;
  margin-left: -0.5px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #424530;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #424530;
}

.description {
  font-size: 14px;
  color: #424530;
  text-align: center;
}

.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #424530;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}

.button:hover {
  background: #696e50;
}
