@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f7f7f7;
  height: 100vh;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

/* CABEÇALHO */

header {
  background-color: #424530;
}

.menu-desktop {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.menu-desktop ul li {
  text-decoration: none;
  margin-right: 30px;
  padding: 10px;
  font-weight: 10px;
}

header a {
  color: #f5ddbf;

  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

header a:hover {
  color: #ffffff;
  transform: scale(1.05);
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 0 40px;
}

/* TOPO DO SITE */

.conheca-mais-background {
  background: #ffffff;
}

.conheca-mais-container {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 60px;
}

.txt-topo-site {
  max-width: 550px;
}

.txt-topo-site h1 {
  color: #424530;
  font-size: 56px;
  font-weight: bold;
  text-align: left;
  max-width: 380px;
}

.txt-topo-site p {
  color: #707070;
  font-size: 20px;
  margin-top: 20px;
}

.btn-quero-ajudar {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 12px;
  background: #da8e31;
  padding: 12px 50px;
  max-width: 300px;
  margin-top: 40px;
  transition: all 0.3s ease-in;
}

.btn-quero-ajudar:hover {
  cursor: pointer;
  background: rgb(175, 96, 0);
}

.img-section img {
  width: 100%;
  min-width: 400px;
}

/* CARDS */
.missoes-background {
  background: #ffffff;
}

.missoes-container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 30px 0px;
}

.retangulo-cards {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  max-width: 1310px;
  height: 400px;
  background: #e09132;
  border-radius: 30px;
  margin: 0 auto;
  margin-bottom: 50px;
  box-shadow: inset 0px 150px white;
}

.card {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 375px;
  height: 340px;
  background: #f8f8f8;
  box-shadow: 8px -0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 0px 30px;
}

.card img {
  width: 70px;
}

.card h2 {
  color: #2f2f2f;
  font-size: 35px;
}

.card p {
  color: #2f2f2f;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}

/* segunda seção*/

.section-2--background {
  background: #424530;
}

.section-2--container {
  display: flex;
  gap: 40px;
  align-items: center;
  max-width: 1400px;
  padding: 50px 40px;
  margin: 0 auto;
}

.img-secao {
  max-width: 620px;
  min-width: 350px;
}

.img-secao img {
  width: 100%;
  border-radius: 16px;
}

.section2-text--container {
  max-width: 620px;
}

.section-2--text {
  margin-bottom: 50px;
}

.section-2--text h2 {
  color: #ffffff;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 10px;
}

.section-2--text p {
  font-size: 18px;
  color: #ffffff;
}

/* rolagem do site */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #304727;
}
