@import "../../styles/gerais.css";
.duvidas-content {
  max-width: 1000px;
  margin: 0 auto;
}

.duvidas-content--title {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  background: #424530;
  height: 60px;
}

.duvidas-content--title h3 {
  font-size: 25px;
  color: #ffffff;
  margin-right: 10px;
}

.duvidas-content--title:hover {
  cursor: pointer;
}

.duvidas-content--title span {
  font-size: 24px;
  color: #ffffff;
}

.duvidas-content--desc {
  background: #ffffff;
  padding: 5px 20px 15px;
}

.duvidas-content--desc p {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .duvidas-content--title {
    margin: 0 20px;
    margin-top: 5px;
  }

  .duvidas-content--title h3 {
    font-size: 14px;
  }

  .duvidas-content--desc {
    margin: 0 20px;
  }

  .duvidas-content--desc p {
    font-size: 14px;
  }
}
