@import "../../styles/gerais.css";

.horse-card {
  max-width: 340px;
}

.horse-name {
  color: #424530;
  font-size: 32px;
}

.horse-name--card {
  display: flex;
  align-items: center;
  max-width: 339px;
  padding-bottom: 5px;
  border-bottom: 1px solid #cccdc7;
  margin-bottom: 5px;
}

.horse-name--card img {
  margin-left: 10px;
}

.cavalo-image {
  max-width: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.text-container span {
  font-size: 20px;
  font-weight: bold;
  color: #e09132;
  margin: 10px 0;
}

.text-container p {
  font-size: 16px;
  color: #707070;
}
